


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');




body{
    font-family: 'Rubik', sans-serif;
}

.App{
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  margin: 50px;
  border-radius: 70px;
}

h1{
  color:#365262;
  font-size:30px;
  font-weight: 500;
}
h2{
  color:#365262;
  font-size:20px;
  font-weight: 500;
}

.sidebar{
  width: 200px;
  background-color: gray;
  color:#EBF8FE;
  padding-top: 200px;
  padding-left: 20px;
  height: 60vh;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.sidebar_items{
  display: flex;
  flex-direction: column;
}

.sidebar_items a{
  color:#EBF8FE;
  font-size: 20px;
  margin-bottom: 40px;
  text-decoration: none;
}
.sidebar_active{
  text-decoration: underline!important;
}

.tab_inactive{
  color:#A2A2A2
}
.tab_active{
  color:#365262 !important ;
  text-decoration: underline !important;
}

.content{
  padding-top: 70px;
  padding-left: 40px;
}

.tabnav{
  margin-top: 70px;
  margin-bottom: 50px;
}

.tabnav a{
  color:#A2A2A2;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  text-decoration: none;
}

